{% extends "layout/base.html" %}
{% block content %}

<h1>Charte de bonne conduite</h1>



			<div class="block_faq">

<h2>LE COVOITURAGE</h2>

<h3>Le covoiturage c'est quoi ?</h3>

<p>En voyageant à plusieurs dans une voiture, vous faites du covoiturage. Il vous est donc arrivé de faire du covoiturage avec votre famille, des amis, des collègues. Le covoiturage c'est le partage d'un véhicule auprès de personnes proches ou moins proches. Le covoiturage c'est aussi une action solidaire et écologique. En partageant le même véhicule lors d'un trajet, nous réduisons ainsi les émissions à effet de serre et donc contribuons à sauvegarder notre planète.</p>
<p>



<h3>Les frais et partage des frais</h3>

<p>Le principe du covoiturage repose sur un partage des frais ou l'alternance de l'utilisation d'un véhicule.<br />
  Les frais de déplacement comme par exemple l'essence sont donc répartis entre les différents occupants du véhicule. Ces frais font parties d'un accord entre le conducteur qui fixe son prix et les passagers lors de chaque trajet. Nous vous conseillons de bien vous renseigner afin de proposer ou d'accepter chaque montant de frais. Le site Fac by car n'intervient pas dans les accords au sujet des frais, se dégage de toutes responsabilités concernant ces arrangements et encourage ses utilisateurs à une totale transparence concernant ceux-ci.<br />
  Les éventuels échanges d'argent entre conducteurs et passagers devront s'effectuer dans les limites d'une indemnisation normale des frais d'essence, de péage et de stationnement, sans bénéfice. Le non respect de cette consigne serait susceptible de placer l'utilisateur en infraction vis-à-vis de l'administration fiscale et de sa compagnie d'assurance.</p>




<h3>Règles de bonne conduite du covoiturage</h3>

<p>D'une manière générale, les utilisateurs devront faire preuve de transparence et pour cela prévenir ses interlocuteurs en cas d'empêchement, de retard ou pour toute autre raison annulant ou modifiant l'accord définit lors d'un trajet. Montrons aux autres qu'étudiant rime aussi avec sérieux et responsabilité.</p>


<br/>
<h4>Conducteur</h4>

<p>En tant que conducteur et de ce cas garant d'un bon trajet, vous vous engagez à :</p>

<ul>
	<li>Proposer un véhicule en bon état de fonctionnement et en règle avec les contrôles de sécurité obligatoires.</li>
    <li>Etre titulaire d'un permis de conduire en règle.</li>
    <li>Ne prendre aucun risque au volant.</li>
    <li>N'absorber aucun produit dangereux pouvant altérer ses capacités à conduire avec vigilance et respectant les règles de la sécurité routière. Garder en tête l'efficace publicité "Sam c'est celui qui ne boit pas".</li>
    <li>Etre assuré pour tout déplacement quels qu'ils soient et que votre contrat d'assurance comporte une clause de Responsabilité Civile prenant en charge les passagers en cas d'accident. Nous vous conseillons également d'informer votre compagnie d'assurance que vous pratiquez le covoiturage.</li>
    <li>Adopter une conduite prudente et respecter scrupuleusement le code de la route.</li>    
</ul> 


<br/>
<h4>Passager</h4>

<p>En tant que passager, vous vous engagez à :</p>

<ul>
<li>Vérifier que le conducteur est bien titulaire du permis de conduire.</li>
	<li>Vérifier que le conducteur est assuré pour transporter des passagers, dans le cadre de ses déplacements domicile-travail.</li>
	<li>Ne pas gêner la conduite du conducteur.</li>
	<li>Mettre sa ceinture de sécurité.</li>
	<li>Avoir un comportement et une tenue correcte lors des trajets.</li>
	<li>Respecter les conditions exigées par le conducteur et propriétaire du véhicule: ponctualité, interdiction de fumer, interdiction d'animaux…</li>
	<li>Respecter le véhicule, le conducteur et ses passagers.</li>
	<li>S'acquitter des frais de déplacements conclus entre vous et le conducteur.</li>  
</ul> 

			</div>

<br/>

			<div class="block_faq">

<h2>LE SITE facbycar</h2>

<h3>Règles d'utilisation du service</h3>

<h4>Inscription</h4>

<p>A tout moment vous pouvez vous inscrire sur le site via l'onglet proposé à cet effet.<br />
Il vous est conseillé de fournir des informations exactes au sujet de votre identité et informations personnelles.<br />
Vous serez invité à fournir vos noms et prénoms puis un identifiant &quot;login&quot; ainsi qu'un mot de passe. Une fois cette étape validée, vous serez redirigé vers un formulaire plus complet où vous pourrez renseigner vos informations personnelles plus complètes.<br />
Le nom de compte et le mot de passe sont strictement personnels, individuels et incessibles.<br />
Vous pouvez modifier vos informations personnelles à tout moment en vous connectant sur votre compte.</p>

<h4>Utilisation</h4>

<p>L'utilisation du site Facbycar est non lucrative et à des fins non commerciales. Tout abus concernant cette utilisation pourra entrainer des poursuites judiciaires. Ce site a été conçu pour les étudiants de l'Université de Marne-La-Vallée afin de leur proposer un service convivial de covoiturage. Ainsi ils ont la possibilité d'organiser leur transport de leur domicile à l'université et inversement dans de bonnes conditions.</p>

<h4>Exclusion</h4>

<p>En cas de mauvais comportement sur les outils d'annonces, de notations, de commentaires ou dans certains cas particuliers, le site Facbycar se réserve le droit d'exclure l'un de ses utilisateurs concernés. Nous vous invitons à consulter les règles de bonne conduite sur le site.</p>



<h4>Annonces, Commentaires et Notations</h4>

<p>Le site vous permet de proposer ou de consulter des annonces de covoiturage. Un système de notation vous est proposé afin de pouvoir faire votre commentaire ou notation concernant le trajet, les conducteurs, le véhicule, les autres passagers.<br/>
Cet outil a été mis en place dans le but précis d'informer les autres utilisateurs de ce site de vos avis sur le covoiturage que vous avez effectué. Il vous est conseillé de rester correct et en accord avec les règles de bonne conduite sur le site. Il ne s'agit pas ici d'émettre un jugement sur un utilisateur ou un trajet mais bien un avis, cet avis restant personnel. De même, chaque utilisateur se doit de noter ses compagnons de covoiturage de manière juste et fidèle à la réalité. Nous invitons toutefois nos utilisateurs de faire preuve d'humour lors de la rédaction ou lecture de ces commentaires et notations.</p>


<h4>Règles de bonne conduite sur le site</h4>

<p>Afin de garantir un climat de respect, de bonne humeur sur le site, nous vous invitons à lire attentivement et respecter scrupuleusement les règles établies qui suivent.<br/>
En tant qu'utilisateur du site Facbycar, vous vous engagez à ne pas :</p>

<ul>
	<li>Afficher ou écrire aucun caractère violent, portant atteinte au respect de la personne humaine, à sa dignité, à l’égalité entre les femmes et les hommes et à la protection des adolescents et des enfants.</li>
	<li>A encourager ou à inciter à la discrimination, la haine ou la violence à l’égard d’une personne ou d’un groupe de personnes en raison de leur origine, ou de leur appartenance ou non à une ethnie, une nation, une race ou une religion déterminée, de leur handicap, de leurs préférences sexuelles ou toute autre différence.</li>
	<li>A encourager en invitant à commettre des crimes et/ou des délits ou en incitant au suicide et/ou à la consommation de substances interdites.
</li>
	<li>A publier tout contenu indécent, grossier, insultant, dénigrant ou diffamant à l’encontre d’autrui.
</li>
	<li>A solliciter l’échange, la vente ou l’achat de matériaux à caractère pornographique, et/ou à caractère illégal, y compris des photographies, des films, des vidéos et des images, cette liste n’étant pas limitative.</li>
	<li>A usurper l’identité d’autrui.</li>
	<li>A facilité l’envoi et/ou la transmission de publicité, de messages promotionnels ou toute autre forme de sollicitation non désirée.</li>
	<li>A harceler de quelque manière que ce soit un ou plusieurs autres utilisateurs du site, à collecter et stocker des données personnelles afférentes aux autres utilisateurs.</li>
	<li>A publier du texte portant atteinte à des droits de propriété intellectuelle, au droit de la personnalité et/ou des biens.</li>
</ul>

<p>L'utilisateur doit faire preuve de vigilance dans l'utilisation du Site et la prise de contact avec d'autres utilisateurs. Lors d'une première entrevue entre covoitureurs, chacun doit présenter spontanément une pièce d'identité et son permis de conduire le cas échéant.</p>

            </div>




{% endblock content %}
