{% extends "layout/base.html" %}
{% block content %}

<h1>Mentions Légales</h1>

<h2>www.facbycar.fr</h2>

<h3>Editeur du site</h3>

<p >Le site <a title="Fac by car - Co-voiturage UMLV" href="#" target="_blank">www.facbycar.fr</a> édité par Fac By Car est un site de co-voiturage pour l'université de Marne-la-Vallée. 
Directeur de publication :  XXX ,  responsable du contenu du site internet sauf dans le cas de liens vers  d'autres sources (cf. liens hypertextes)</p>

<h3>Informations Règlementaires</h3>

<p >Raison Sociale : Fac by car 
	<br />Gérant : XXX
	<br />Siège Social :  Adresse
	<br />Tél.  :  xxx 
	<br />Capital social :  xxx
	<br />N° SIREN :  xxx
	<br />
	<br />L'accès au site  ainsi que l'utilisation de son contenu s'effectuent dans le cadre des  présentes mentions légales. 
	Le fait d'accéder et de naviguer sur le site  constitue de la part de l'internaute une acceptation sans réserve de  l'ensemble des précisions suivantes :</p>

<h3>Hébergement du site<br /></h3>

<p >Conception, création graphique et  hébergement du site : Kiwe, création de sites Internet, Référencement  &amp; Webmarketing </p>

<h3>CNIL</h3>

<p>Le site <a title="Fac by car - Co-voiturage UMLV" href="#" target="_blank">www.facbycar.fr</a> de Fac by car est déclaré à la CNIL sous le  numéro : XXXXXX. Tous droits réservés à Fac by car.</p>

<h3>Loi Informatique &amp; Liberté</h3>

<p >Conformément à la loi numéro 78-17 du 6  janvier 1978 relative à l'informatique, aux fichiers et aux libertés  dite "Loi Informatique et Libertés", 
vous disposez d'un droit  d'opposition, d'accès, de modification, de rectification et de  suppression des informations nominatives vous concernant. 
Vous pouvez  l'exercer en adressant un courrier électronique à contact.</p>

<h3>Droit d'auteur &amp; Copyright - propriété intellectuelle<br /></h3>

<p >Copyright des photographies disponibles  sur le site  <a title="Fac by car - Co-voiturage UMLV" href="#" target="_blank">www.facbycar.fr</a> : Fac by car . 
Conformément à la loi de droit d'auteur et du copyright,  l'utilisation frauduleuse d'une oeuvre photo sans accord est passible de  poursuite en justice.</p>

<p >Le site dans son ensemble, ainsi que les  éléments qui le composent (notamment textes, arborescence, logiciels,  animations, photographies, illustrations, 
schémas, représentations  graphiques, logos, etc.) constituent des œuvres de l'esprit protégées  par les articles L.111-1 et suivants du Code de la propriété  
intellectuelle. Sauf mention contraire, le site ainsi que les éléments  qui le composent sont la propriété exclusive de MEDICAMAT seule  habilitée à utiliser 
les droits de propriété intellectuelle et droits de  la personnalité y afférant.</p>

<p >L'usage de tout ou partie du site,  notamment par téléchargement, reproduction, transmission, représentation  ou diffusion à d'autres fins que pour 
l'usage personnel et privé dans  un but non commercial de l'internaute est strictement interdit. La  violation de ces dispositions soumet son auteur 
aux sanctions prévues  tant par le Code de la propriété intellectuelle au titre notamment de la  contrefaçon de droits d'auteur (article L.335-3), 
de droit des marques  (article L.716-9), que par le Code civil en matière de responsabilité  civile (article 9, articles 1382 et suivants).</p>

<h3>Responsabilité - Liens hypertexte<br /></h3>

<p >Fac by car s'efforce d'assurer au mieux  de ses possibilités l'exactitude et la mise à jour des informations  diffusées sur le site, 
dont il se réserve le droit de corriger, à tout  moment et sans préavis, le contenu. Toutefois, MEDICAMAT ne saurait  garantir l'exactitude, 
la précision et l'exhaustivité des informations  mises à disposition sur le site, lesquelles informations ne constituent  ni une garantie ni un engagement 
à l'égard de l'internaute.</p>

<p >Le directeur de la publication peut  mettre en place des liens vers d'autres sites Internet ou d'autres  sources Internet. 
Toutefois, celui-ci n’étant pas l’éditeur de ces  sites, il ne peut en contrôler le contenu. De ce fait, le directeur de  la publication ne pourra pas être 
tenu pour responsable du contenu des  sites, des éventuelles collectes ou transmission de données effectuées  par ces sites et ainsi accessibles ou tout autre 
procédé tendant aux  mêmes fins.</p>

<p >Les utilisateurs et visiteurs du site ne  peuvent pas mettre en place un lien hypertexte en direction du site  sans l'autorisation préalable 
écrite du directeur de la publication.  Toute demande tendant à cette fin doit être adressée à contact.</p>




<br/>

<h3>Partage des informations</h3>

<p>Une partie des informations personnelles que vous nous transmettez sont partagées avec votre autorisation et seront partagées à l'ensemble des utilisateurs afin de faciliter les résultats de recherche d'utilisateur, d'annonces ou de trajets.<br/>
Cependant, Facbycar se réserve le droit de transmettre vos informations personnelles à des tiers pour se conformer aux obligations légales ou répondre à une sollicitation exigée par la loi ou ses représentants.</p>


<h3>Disponibilités</h3>

<p>Facbycar s’engage à une disponibilité de service d’au moins 98 % sur l’année.
Facbycar se réserve le droit d’interrompre ses services à tout moment, et sans délai prévenance, en vue notamment d’opérations de maintenance préventives, évolutives ou curatives. En cas d’interruption des services, Facbycar mettra en oeuvre tous les moyens raisonnables pour y remédier dans les meilleurs délais.</p>


<h3>Au service des utilisateurs</h3>

<p>Fac by car met à votre disposition un support utilisateur, disponible par mail à l’adresse "adresse@facbycar.com", 24h/24. L'utilisateur a alors la possibilité de :</p>

<ul>
	<li>Signaler une anomalie de fonctionnement.</li>
	<li>Procéder à une réclamation.</li>
	<li>Poser toute question.</li>
	<li>Emettre un avis ou proposer une amélioration sur le site.</li>
</ul>
{% endblock content %}